.running_text_container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.running_text {
  margin: 10%;
  text-align: center;
  font-size: calc(1em + 2vw);
  text-transform: uppercase;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-repeat: no-repeat;
  background-size: 200% auto;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}
